.wrapper {
  position: relative;
  width: 100%;
  height: 400px;
}

.base {
  position: absolute;
  filter: blur(60px);
  opacity: 0.8;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4.5px);
}

.colorized {
  background: linear-gradient(
    90deg,
    #ffff00 3%,
    #ffa500 12%,
    #f14444 23%,
    #d53567 27%,
    #9a109a 47%,
    #9a109a 53%,
    #d53567 72%,
    #f14444 77%,
    #ffa500 88%,
    #ffff00 97%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
  display: inline-block;
  vertical-align: middle;
}

.left-to-center {
  background-position: left center;
}
.right-to-center {
  background-position: right center;
}

.about-me__gradient {
  /* background-image: linear-gradient(
    to left top,
    #f4cdcd,
    #f3b1c8,
    #df9bd6,
    #ab8fed,
    #0b8eff
  ); */
  filter: blur(60px);
  background-image: linear-gradient(
    to right top,
    #fdc3e4,
    #eebce7,
    #dbb6e9,
    #c6b1ea,
    #adadea,
    #9ab3f2,
    #83b9f7,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  src: url(/fonts/Helvetica.ttf) format("ttf");
}

.line {
  @apply relative inline-block;
}

.line:after {
  content: "";
  @apply absolute left-0 h-1 bg-red-600 -bottom-3 w-28;
}
.about-me__wrapper {
  clip-path: polygon(0% 0%, 100% 0, 100% 64%, 66% 78%, 0 64%);
}
.about-me__gradient {
  @apply h-96;
}
.about-me__title {
  @apply text-3xl;
}

@screen md {
  .about-me__wrapper {
    @apply h-96;
  }
  .about-me__title {
    @apply text-6xl;
  }
  /* .about-image__wrapper {
    @apply h-60;
  } */
  .about-me__gradient,
  .about-me__container {
    @apply h-96;
  }
}
@screen lg {
  .about-me__wrapper {
    height: 600px;
  }
  .about-me__title {
    @apply text-8xl;
  }
}

@screen xl {
  .about-me__wrapper {
    height: 900px;
  }
  .about-me__title {
    font-size: 180px;
    line-height: 140px;
    @apply -mx-3;
  }
  .about-me__gradient {
    height: 700px;
  }
  .about-me__container {
    height: 500px;
  }
  .about-image__wrapper {
    height: 650px;
  }
}
